@import "./mixins.scss";
@import "./variables.scss";

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    width: 100%;
    padding: 0;
    margin: 0;

    &__column {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 3px;
        margin: 0;
        width: 100%;

        &--half {
            width: 50%;
        }
    }
}

@include media($SM_SCREEN) {

}

@include media($MD_SCREEN) {

}

@include media($LG_SCREEN) {

}

@include media($XL_SCREEN) {

}
