/* Mixins
 *
 */

@import "variables";

@mixin clearfix() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin media($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}
