/* Variables
 *
 */

// Grid breakpoints
$smBreakpoint: 576px;
$mdBreakpoint: 768px;
$lgBreakpoint: 992px;
$xlBreakpoint: 1200px;

// Colours
$bgColor: #ffffff;
$textColor: #000000;

$folderColor: #b0a8f5;
